<section class="c-section dark-style s-account-types">
  <div class="c-section__title">
    <div class="container">
      <h1>{{LangValue('account_t1')}}</h1>
      

      <h5>
       {{LangValue('account_t2')}}
      </h5>
    </div>
  </div>
  <div class="c-section__content mt-3">
    <div class="container">
      <div class="row">
        <div class="col-5 col-md-2 d-flex align-items-end">
          <div class="c-price-box head">
            <div class="c-price-box__content">
              <ul class="list-unstyled">
          
                <li>{{LangValue('account_p_2')}}</li>
                <li>{{LangValue('account_p_3')}}</li>
                <li>{{LangValue('account_p_4')}}</li>
                <li>{{LangValue('account_p_5')}}</li>
                <li>{{LangValue('account_p_6')}}</li>
                <li>{{LangValue('account_p_7')}}</li>
                <li>{{LangValue('account_p_8')}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-7 col-md-10">
          {% include '../../../modules/price-boxes/price-boxes.twig' %}
        </div>
      </div>
    </div>
  </div>
</section>
