<div class="c-section s-available-platforms dark-style">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="c-section__title">
          <h1>{{LangValue('index_c4_h1')}}</h1>
          <h5> {{LangValue('index_c4_h2')}}</h5>
        </div>

        <h4>MetaTrader 5</h4>
        <p>MetaTrader 5 is a popular Forex trading and analysis platform that provides trading currencies, stocks, precious metals and CFDs in stock indices. In this section, KALEFX customers can download the MetaTrader 5 trading platform and mobile applications for PDA, iPhone®, iPad ™ and Android.</p>

        <div class="row mt-3">
          <div class="col-6 col-lg mb-1 lg-mb-0">
            <a href="/meta" target="_blank" class="btn btn-primary btn-platform webtrader">
              
              {{lastspaceBr(LangValue('index_c4_b1'))| raw }}
              <i></i>
            </a>
          </div>
          <div class="col-6 col-lg mb-1 lg-mb-0">
            <a target="_blank"  href="https://download.mql5.com/cdn/web/16131/mt5/kalefx5setup.exe" class="btn btn-primary btn-platform windows">
              <span>
            
               {{lastspaceBr(LangValue('index_c4_b2'))| raw }}
              </span>
              <i></i>
            </a>
          </div>
          <div class="col-6 col-lg">
            <a target="_blank"  href="https://download.mql5.com/cdn/mobile/mt5/android?server=KaleFX-MetaTrader5" class="btn btn-primary btn-platform android">
              <span>
            
               {{lastspaceBr(LangValue('index_c4_b3'))| raw }}
              </span>
              <i></i>
            </a>
          </div>
          <div class="col-6 col-lg">
            <a target="_blank"  href="https://download.mql5.com/cdn/mobile/mt5/ios?server=KaleFX-MetaTrader5" class="btn btn-primary btn-platform ios">
               <span>
            
               {{lastspaceBr(LangValue('index_c4_b4'))| raw }}
              </span>
              <i></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 d-none d-lg-block">
        <img src="assets/img/metatrader-app-preview.png" alt="" />
      </div>
    </div>
  </div>
</div>
