<div class="c-section s-count">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <h1>{{LangValue('index_c1_sub1_t1')}}</h1>
        <h4 class="mt-1">{{LangValue('index_c1_sub1_t2')}}</h4>
      </div>
      <div class="col-12 col-md">
        <h1>{{LangValue('index_c1_sub2_t1')}}</h1>
        <h4 class="mt-1">{{LangValue('index_c1_sub2_t2')}}</h4>
      </div>
      <div class="col-12 col-md">
        <h1>{{LangValue('index_c1_sub3_t1')}}</h1>
        <h4 class="mt-1">{{LangValue('index_c1_sub3_t2')}}</h4>
      </div>
      <div class="col-12 col-md">
        <h1>{{LangValue('index_c1_sub4_t1')}}</h1>
        <h4 class="mt-1">Levarage</h4>
      </div>
      <div class="col-12 col-md">
        <h1>{{LangValue('index_c1_sub5_t1')}}</h1>
        <h4 class="mt-1">{{LangValue('index_c1_sub5_t2')}}</h4>
      </div>
    </div>
  </div>
</div>
