<div class="c-section light-style s-start-with-kale">
  <div class="c-section__title">
    <div class="container">
      <h1 class="">
      
      {{LangValue('index_c2_h1')}}
      </h1>
    </div>
  </div>
  <div class="c-section__content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md">
          <div class="c-icon-box">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 48">
              <defs />
              <g fill="#F55D61" fill-rule="nonzero">
                <path d="M64.6142 43.1187H4.36133V5.90671c0-3.07396 2.46428-5.56589 5.50413-5.56589H59.1101c3.0398 0 5.5041 2.49193 5.5041 5.56589V43.1187zm-2.2016-2.2264V5.90671c0-1.84437-1.4786-3.33953-3.3025-3.33953H9.86546c-1.82391 0-3.30248 1.49516-3.30248 3.33953V40.8923H62.4126z" />
                <path
                  d="M2.30597 43.1187c.30323 1.0123 1.23312 1.7492 2.33323 1.7492h60.4149c1.1001 0 2.0299-.7369 2.3332-1.7492H2.30597zM69.665 41.8832c.0188.1719.0283.3454.0283.5199 0 2.5908-2.0771 4.6911-4.6392 4.6911H4.6392C2.07704 47.0942 0 44.9939 0 42.4031c0-.1745.00946288-.348.0282604-.5199.0616576-.564.5330006-.9909 1.0941596-.9909H68.5708c.5612 0 1.0325.4269 1.0942.9909zM34.6261 22.9712c-3.1687 0-5.7374-2.5976-5.7374-5.8019s2.5687-5.8019 5.7374-5.8019 5.7374 2.5976 5.7374 5.8019-2.5687 5.8019-5.7374 5.8019zm0-1.8322c2.168 0 3.9256-1.7773 3.9256-3.9697s-1.7576-3.9697-3.9256-3.9697c-2.1681 0-3.9256 1.7773-3.9256 3.9697s1.7575 3.9697 3.9256 3.9697zM34.625 23.9267c.9312 0 1.8138-.2331 2.6042-.6501.0026.0017 1.3807.8991 4.1343 2.6921 1.07.6968 1.7167 1.8955 1.7167 3.1825 0 1.1402-.9142 2.0646-2.0418 2.0646H28.2117c-1.1277 0-2.0418-.9244-2.0418-2.0646 0-1.287.6466-2.4857 1.7166-3.1825l4.1227-2.6845c.8021.4094 1.6847.6425 2.6158.6425zm0 1.8322c-.8356 0-1.6539-.1421-2.4313-.4157l-3.3262 2.1659c-.5521.3595-.8858.9781-.8858 1.6421 0 .1284.103.2325.23.2325h12.8267c.127 0 .23-.1041.23-.2325 0-.664-.3337-1.2826-.8858-1.6421l-3.3262-2.1659c-.7774.2736-1.5957.4157-2.4314.4157z"
                />
              </g>
            </svg>
            <div class="c-icon-box__content">
              <h2>01</h2>
              <hr />
              <h4>{{LangValue('index_c2_step1-1')}}</h4>
              <p>{{LangValue('index_c2_step1-2')}}</p>
              <div class="btn btn-link">
               
                {{LangValue('index_c2_btn1')}}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 8">
                  <defs />
                  <path fill="#F55D61" fill-rule="nonzero" d="M.763128 4.66356H6.665c.322 0 .483.3212.253.51015L5.17 6.60968c-.276.22673-.276.60462 0 .83135.276.22674.736.22674 1.012 0l3.611-2.94752c.276-.22673.276-.60462 0-.83135L6.228.733527C6.09.62016 5.906.563477 5.722.563477s-.368.056683-.506.17005c-.276.226733-.276.604623 0 .831353l1.702 1.41708c.23.18894.069.51015-.253.51015H.717127c-.413999 0-.7589996.30231-.71299915.64241.04599945.30231.39100115.52904.75900015.52904z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md">
          <div class="c-icon-box">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 53 53">
              <defs />
              <path fill="#F55D61" d="M25.805 52.3596c-3.5408 0-7.099-.7799-10.482-2.322-4.6801-2.127-8.5714-5.4947-11.28831-9.7487-4.0490574-6.3455-5.10076-14.1977-2.92724-21.5181C3.22839 11.6453 8.22398 5.88468 14.8322 2.96006 21.826-.141815 30.3273.248136 37.0231 3.98811c.9816.54947 1.3322 1.79022.7888 2.7651-.5434.9926-1.7703 1.3471-2.7344.79762-5.6091-3.13732-12.7607-3.45637-18.6327-.8508C10.9234 9.14608 6.73407 13.985 4.9637 19.9583c-1.84048 6.1861-.94653 12.7798 2.45398 18.1327 4.66252 7.3204 13.67212 11.3794 21.91052 9.8728 6.5556-1.1876 12.4101-5.7074 15.2847-11.8048.4733-1.0104 1.6828-1.4535 2.6819-.9572.9991.4786 1.4373 1.7016.9465 2.7119-3.383 7.2496-10.3593 12.638-18.1769 14.056-1.4023.2658-2.8221.3899-4.2594.3899z" />
              <path fill="#F55D61" d="M23.6131 37.9846c-.5084 0-1.0167-.195-1.4023-.5849L10.7472 26.0912c-.78874-.7799-.80627-2.0738-.035-2.8892.7712-.7976 2.0508-.8153 2.8571-.0354l10.0438 9.9259 25.346-25.11618c.7888-.7799 2.0684-.7799 2.8572.03545.7712.79762.7712 2.09153-.0351 2.88913L25.0329 37.3997c-.3857.3899-.894.5849-1.4198.5849z" />
            </svg>
            <div class="c-icon-box__content">
              <h2>02</h2>
              <hr />
               <h4>{{LangValue('index_c2_step2-1')}}</h4>
              <p>{{LangValue('index_c2_step2-2')}}</p>
              <div class="btn btn-link">
                 {{LangValue('index_c2_btn2')}}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 8">
                  <defs />
                  <path fill="#F55D61" fill-rule="nonzero" d="M.763128 4.66356H6.665c.322 0 .483.3212.253.51015L5.17 6.60968c-.276.22673-.276.60462 0 .83135.276.22674.736.22674 1.012 0l3.611-2.94752c.276-.22673.276-.60462 0-.83135L6.228.733527C6.09.62016 5.906.563477 5.722.563477s-.368.056683-.506.17005c-.276.226733-.276.604623 0 .831353l1.702 1.41708c.23.18894.069.51015-.253.51015H.717127c-.413999 0-.7589996.30231-.71299915.64241.04599945.30231.39100115.52904.75900015.52904z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md">
          <div class="c-icon-box">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 58 48">
              <defs />
              <path
                fill="#F55D61"
                fill-rule="evenodd"
                d="M46.9524 0c-5.1095 0-9.3894 3.67059-10.6323 8.47059H6.90476C3.0381 8.47059 0 11.5765 0 15.5294v25.4118C0 44.8941 3.0381 48 6.90476 48H45.5714c3.8667 0 6.9048-3.1059 6.9048-7.0588V21.0358C55.7905 19.0594 58 15.5294 58 11.2941 58 5.08235 53.0286 0 46.9524 0zm0 2.82353c4.5571 0 8.2857 3.81176 8.2857 8.47057 0 4.6588-3.7286 8.4706-8.2857 8.4706-4.5572 0-8.2857-3.8118-8.2857-8.4706 0-4.65881 3.7285-8.47057 8.2857-8.47057zm0 2.82353c-.8286 0-1.381.5647-1.381 1.41176v2.82353h-2.7619c-.8285 0-1.3809.56475-1.3809 1.41175 0 .8471.5524 1.4118 1.3809 1.4118h2.7619v2.8235c0 .8471.5524 1.4118 1.381 1.4118s1.3809-.5647 1.3809-1.4118v-2.8235h2.7619c.8286 0 1.381-.5647 1.381-1.4118 0-.847-.5524-1.41175-1.381-1.41175h-2.7619V7.05882c0-.84706-.5523-1.41176-1.3809-1.41176zM6.90476 11.2941H35.9048c0 6.2118 4.9714 11.2941 11.0476 11.2941.9666 0 1.9333-.1395 2.7619-.4218v3.2454H38.5291c-3.7286 0-6.7672 3.1058-6.7672 7.0588 0 3.9529 3.0386 7.0588 6.7672 7.0588h11.1852v1.4118c0 2.4-1.7953 4.2353-4.1429 4.2353H6.90476c-2.34762 0-4.14286-1.8353-4.14286-4.2353V15.5294c0-2.4 1.79524-4.2353 4.14286-4.2353zM38.5291 28.2353h11.1852v8.4706H38.5291c-2.2095 0-4.0053-1.8353-4.0053-4.2353 0-2.4 1.7958-4.2353 4.0053-4.2353zm.1376 2.8235c-.3663 0-.7175.1488-.9765.4135-.259.2648-.4045.6239-.4045.9983 0 .3744.1455.7335.4045.9983.259.2647.6102.4135.9765.4135.3662 0 .7175-.1488.9764-.4135.259-.2648.4045-.6239.4045-.9983 0-.3744-.1455-.7335-.4045-.9983-.2589-.2647-.6102-.4135-.9764-.4135z"
                clip-rule="evenodd"
              />
            </svg>
            <div class="c-icon-box__content">
              <h2>03</h2>
              <hr />
               <h4>{{LangValue('index_c2_step3-1')}}</h4>
              <p>{{LangValue('index_c2_step3-2')}}</p>
              <div class="btn btn-link">
                    {{LangValue('index_c2_btn3')}}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 8">
                  <defs />
                  <path fill="#F55D61" fill-rule="nonzero" d="M.763128 4.66356H6.665c.322 0 .483.3212.253.51015L5.17 6.60968c-.276.22673-.276.60462 0 .83135.276.22674.736.22674 1.012 0l3.611-2.94752c.276-.22673.276-.60462 0-.83135L6.228.733527C6.09.62016 5.906.563477 5.722.563477s-.368.056683-.506.17005c-.276.226733-.276.604623 0 .831353l1.702 1.41708c.23.18894.069.51015-.253.51015H.717127c-.413999 0-.7589996.30231-.71299915.64241.04599945.30231.39100115.52904.75900015.52904z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md">
          <div class="c-icon-box">
            <svg width="54" height="53" viewBox="0 0 54 53" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.5001 32.6436C8.42334 32.6436 6.39326 33.2363 4.66654 34.3468C2.93982 35.4572 1.594 37.0356 0.799273 38.8823C0.00454949 40.7289 -0.203386 42.761 0.20176 44.7214C0.606907 46.6818 1.60694 48.4825 3.0754 49.8959C4.54386 51.3093 6.41479 52.2718 8.4516 52.6618C10.4884 53.0517 12.5996 52.8516 14.5182 52.0867C16.4369 51.3217 18.0768 50.0264 19.2305 48.3645C20.3843 46.7025 21.0001 44.7486 21.0001 42.7498C20.9967 40.0704 19.8894 37.5018 17.921 35.6072C15.9526 33.7126 13.2838 32.6468 10.5001 32.6436ZM10.5001 49.9685C9.01669 49.9685 7.56663 49.5451 6.33326 48.7519C5.09988 47.9587 4.13858 46.8313 3.57092 45.5122C3.00326 44.1932 2.85474 42.7417 3.14413 41.3415C3.43352 39.9412 4.14783 38.6549 5.19673 37.6454C6.24563 36.6358 7.58201 35.9483 9.03687 35.6697C10.4917 35.3912 11.9997 35.5342 13.3702 36.0805C14.7406 36.6269 15.912 37.5521 16.7361 38.7393C17.5602 39.9264 18.0001 41.322 18.0001 42.7498C17.9978 44.6636 17.2068 46.4984 15.8008 47.8517C14.3948 49.205 12.4885 49.9662 10.5001 49.9685Z"
                fill="#F55D61"
              />
              <path
                d="M47.5606 30.1791C47.2793 29.9084 46.8978 29.7563 46.5001 29.7563C46.1023 29.7563 45.7208 29.9084 45.4395 30.1791L42.4395 33.0666C42.164 33.3384 42.011 33.7038 42.0135 34.0836C42.016 34.4633 42.1738 34.8268 42.4528 35.0953C42.7318 35.3638 43.1095 35.5157 43.504 35.5181C43.8985 35.5205 44.2781 35.3732 44.5606 35.1081L45 34.6851V39.8622C44.8997 40.9785 44.3933 42.0249 43.5702 42.8172C42.747 43.6094 41.6598 44.0968 40.5 44.1934H31.5C31.1022 44.1934 30.7206 44.3455 30.4393 44.6162C30.158 44.887 30 45.2542 30 45.6371C30 46.02 30.158 46.3872 30.4393 46.658C30.7206 46.9287 31.1022 47.0808 31.5 47.0808H40.5C42.4579 46.9876 44.3098 46.1971 45.6958 44.8631C47.0819 43.529 47.9032 41.7466 48.0001 39.8622V34.6851L48.4395 35.1081C48.5781 35.245 48.7436 35.354 48.9263 35.4288C49.1091 35.5036 49.3054 35.5428 49.504 35.544C49.7026 35.5452 49.8994 35.5084 50.0831 35.4358C50.2668 35.3633 50.4337 35.2563 50.5742 35.1211C50.7146 34.986 50.8257 34.8253 50.9011 34.6485C50.9765 34.4717 51.0147 34.2823 51.0135 34.0911C51.0122 33.9 50.9715 33.711 50.8938 33.5351C50.8161 33.3593 50.7028 33.2 50.5606 33.0666L47.5606 30.1791Z"
                fill="#F55D61"
              />
              <path
                d="M28.5003 9.54346H16.5003C14.5424 9.63668 12.6905 10.4271 11.3045 11.7612C9.91836 13.0953 9.09709 14.8778 9.00024 16.7622V21.9394L8.56082 21.5164C8.27833 21.2513 7.8987 21.104 7.50417 21.1064C7.10965 21.1088 6.73199 21.2607 6.45301 21.5292C6.17404 21.7977 6.0162 22.1612 6.0137 22.541C6.0112 22.9207 6.16424 23.2861 6.43966 23.558L9.43967 26.4455C9.57893 26.5796 9.74427 26.6859 9.92625 26.7585C10.1082 26.8311 10.3033 26.8684 10.5002 26.8684C10.6972 26.8684 10.8923 26.8311 11.0742 26.7585C11.2562 26.6859 11.4216 26.5796 11.5608 26.4455L14.5608 23.558C14.8363 23.2861 14.9893 22.9207 14.9868 22.541C14.9843 22.1612 14.8265 21.7977 14.5475 21.5292C14.2685 21.2607 13.8908 21.1088 13.4963 21.1064C13.1018 21.104 12.7222 21.2513 12.4397 21.5164L12.0003 21.9394V16.7622C12.1006 15.6459 12.607 14.5995 13.4301 13.8072C14.2533 13.0149 15.3405 12.5276 16.5003 12.431H28.5003C28.8981 12.431 29.2797 12.2788 29.561 12.0081C29.8423 11.7373 30.0003 11.3701 30.0003 10.9872C30.0003 10.6043 29.8423 10.2371 29.561 9.96632C29.2797 9.69557 28.8981 9.54346 28.5003 9.54346Z"
                fill="#F55D61"
              />
              <path
                d="M49.5001 9.54332H43.5C43.1022 9.54332 42.7207 9.39121 42.4394 9.12045C42.1581 8.8497 42 8.48248 42 8.09957C42 7.71667 42.1581 7.34945 42.4394 7.07869C42.7207 6.80794 43.1022 6.65583 43.5 6.65583H52.5001C52.8979 6.65583 53.2794 6.50372 53.5607 6.23297C53.8421 5.96221 54.0001 5.59499 54.0001 5.21209C54.0001 4.82918 53.8421 4.46196 53.5607 4.19121C53.2794 3.92045 52.8979 3.76835 52.5001 3.76835H48.0001V2.3246C48.0001 1.9417 47.842 1.57448 47.5607 1.30372C47.2794 1.03297 46.8979 0.880859 46.5 0.880859C46.1022 0.880859 45.7207 1.03297 45.4394 1.30372C45.1581 1.57448 45 1.9417 45 2.3246V3.76835H43.5C42.3065 3.76835 41.1619 4.22467 40.318 5.03693C39.4741 5.8492 39 6.95086 39 8.09957C39 9.24829 39.4741 10.35 40.318 11.1622C41.1619 11.9745 42.3065 12.4308 43.5 12.4308H49.5001C49.8979 12.4308 50.2794 12.5829 50.5607 12.8537C50.842 13.1244 51.0001 13.4916 51.0001 13.8745C51.0001 14.2575 50.842 14.6247 50.5607 14.8954C50.2794 15.1662 49.8979 15.3183 49.5001 15.3183H40.5C40.1022 15.3183 39.7206 15.4704 39.4393 15.7412C39.158 16.0119 39 16.3791 39 16.762C39 17.1449 39.158 17.5122 39.4393 17.7829C39.7206 18.0537 40.1022 18.2058 40.5 18.2058H45V19.6495C45 20.0324 45.1581 20.3996 45.4394 20.6704C45.7207 20.9412 46.1022 21.0933 46.5 21.0933C46.8979 21.0933 47.2794 20.9412 47.5607 20.6704C47.842 20.3996 48.0001 20.0324 48.0001 19.6495V18.2058H49.5001C50.6935 18.2058 51.8381 17.7495 52.6821 16.9372C53.526 16.1249 54.0001 15.0233 54.0001 13.8745C54.0001 12.7258 53.526 11.6242 52.6821 10.8119C51.8381 9.99964 50.6935 9.54332 49.5001 9.54332Z"
                fill="#F55D61"
              />
            </svg>
            <div class="c-icon-box__content">
              <h2>04</h2>
              <hr />
              <h4>{{LangValue('index_c2_step4-1')}}</h4>
              <p>{{LangValue('index_c2_step4-2')}}</p>
              <div class="btn btn-link">
                  {{LangValue('index_c2_btn4')}}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 8">
                  <defs />
                  <path fill="#F55D61" fill-rule="nonzero" d="M.763128 4.66356H6.665c.322 0 .483.3212.253.51015L5.17 6.60968c-.276.22673-.276.60462 0 .83135.276.22674.736.22674 1.012 0l3.611-2.94752c.276-.22673.276-.60462 0-.83135L6.228.733527C6.09.62016 5.906.563477 5.722.563477s-.368.056683-.506.17005c-.276.226733-.276.604623 0 .831353l1.702 1.41708c.23.18894.069.51015-.253.51015H.717127c-.413999 0-.7589996.30231-.71299915.64241.04599945.30231.39100115.52904.75900015.52904z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
