<div class="product-slider" data-js="home-product-properties">
  <div class="product-slider__item">
    <div class="c-product-card vertical blue-skin" id="LiSpan_Icon_USDTRY">
      <div class="c-product-card__header">
        <div class="product-name">
          <span>USDTRY
          </span>
        </div>
        <div class="product-price">
          <t id="LiSpan_ASK1_USDTRY"></t>
          <span>{{LangValue('index_c11_btn1')}}</span>
        </div>
      </div>
      <div class="c-product-card__content">
        <div class="product-chart">
          <canvas id="product-chart--USDTRY"></canvas>
        </div>
        <div class="product-price">
          <div class="product-price__table">
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_buy')}}</span>
              <span id="LiSpan_BID_USDTRY">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_sell')}}</span>
              <span id="LiSpan_ASK_USDTRY">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_spread')}}</span>
              <span id="LiSpan_SPREAD_USDTRY">433.56</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-product-card horizontal blue-skin mt-3" id="LiSpan_Icon_NFLX">
      <div class="c-product-card__header">
<svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.7423 0L11.7422 72L14.1936 71.7857C18.2963 71.1115 22.4885 70.6237 26.6535 70.3356L28.6173 70.1997V8.4375L11.7423 0Z" fill="#D5011D"/>
<path d="M43.3828 0.18634V63.7511L60.2578 72V0.18634H43.3828Z" fill="#AA011A"/>
<path d="M36 18.2971H31.7812L36 53.8359L43.4033 70.2093L44.6482 70.2888C49.0475 70.5702 53.4746 71.0738 57.8064 71.7857L60.2578 72L36 18.2971Z" fill="#D5011D"/>
<path d="M27.8478 0.18634H11.7422L35.9999 53.8359V18.2972L27.8478 0.18634Z" fill="#FF0021"/>
</svg>
        <div class="product-name">
          <span>Netflix</span>
        </div>
      </div>
      <div class="c-product-card__content">
        <div class="product-price">
          <div class="product-price__table">
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_buy')}}</span>
              <span id="LiSpan_BID_NFLX">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_sell')}}</span>
              <span id="LiSpan_ASK_NFLX">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_spread')}}</span>
              <span id="LiSpan_SPREAD_NFLX">433.56</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-slider__item">
    <div class="c-product-card vertical green-skin" id="LiSpan_Icon_EURUSD">
      <div class="c-product-card__header">
        <div class="product-name">
          <span>EURUSD</span>
        </div>
        <div class="product-price">

          <t id="LiSpan_ASK1_EURUSD"></t>
          <span>{{LangValue('index_c11_btn1')}}</span>
        </div>
      </div>
      <div class="c-product-card__content">
        <div class="product-chart">
          <canvas id="product-chart--EURUSD"></canvas>
        </div>
        <div class="product-price">
          <div class="product-price__table">
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_buy')}}</span>
              <span id="LiSpan_BID_EURUSD">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_sell')}}</span>
              <span id="LiSpan_ASK_EURUSD">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_spread')}}</span>
              <span id="LiSpan_SPREAD_EURUSD">433.56</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-product-card horizontal green-skin mt-3" id="LiSpan_Icon_GOOGL">
      <div class="c-product-card__header">
        <svg width="42" height="43" viewBox="0 0 42 43" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M41.9775 21.9024C41.9775 20.1407 41.8346 18.8551 41.5254 17.522H21.418V25.4734H33.2206C32.9827 27.4494 31.6977 30.4253 28.8422 32.4249L28.8022 32.6911L35.1598 37.6186L35.6002 37.6626C39.6454 33.9248 41.9775 28.4254 41.9775 21.9024" fill="#4285F4"/>
          <path d="M21.417 42.8523C27.1992 42.8523 32.0535 40.9477 35.5992 37.6625L28.8412 32.4248C27.0327 33.6866 24.6055 34.5674 21.417 34.5674C15.7536 34.5674 10.9469 30.8299 9.23347 25.6638L8.98232 25.6852L2.37161 30.8036L2.28516 31.0441C5.80689 38.0432 13.0408 42.8523 21.417 42.8523Z" fill="#34A853"/>
          <path d="M9.23265 25.6638C8.78054 24.3306 8.51889 22.9021 8.51889 21.4261C8.51889 19.95 8.78054 18.5217 9.20886 17.1885L9.19689 16.9046L2.50334 11.7039L2.28433 11.8081C0.832859 14.7125 0 17.9741 0 21.4261C0 24.8781 0.832859 28.1395 2.28433 31.044L9.23265 25.6638" fill="#FBBC05"/>
          <path d="M21.417 8.28472C25.4384 8.28472 28.151 10.0226 29.6978 11.4749L35.7419 5.5708C32.0299 2.11882 27.1992 0 21.417 0C13.0408 0 5.80689 4.80894 2.28516 11.8081L9.20968 17.1885C10.9469 12.0224 15.7536 8.28472 21.417 8.28472" fill="#EB4335"/>
        </svg>
        <div class="product-name">
          <span>Alphabet</span>
        </div>
      </div>
      <div class="c-product-card__content">
        <div class="product-price">
          <div class="product-price__table">
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_buy')}}</span>
              <span id="LiSpan_BID_GOOGL">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_sell')}}</span>
              <span id="LiSpan_ASK_GOOGL">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_spread')}}</span>
              <span id="LiSpan_SPREAD_GOOGL">433.56</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-slider__item">
    <div class="c-product-card vertical red-skin" id="LiSpan_Icon_BTCUSD">
      <div class="c-product-card__header">
        <div class="product-name">
          <span>BTCUSD</span>
        </div>
        <div class="product-price">
          <t id="LiSpan_ASK1_BTCUSD"></t>
          <span>{{LangValue('index_c11_btn1')}}</span>
        </div>
      </div>
      <div class="c-product-card__content">
        <div class="product-chart">
          <canvas id="product-chart--BTCUSD"></canvas>
        </div>
        <div class="product-price">
          <div class="product-price__table">
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_buy')}}</span>
              <span id="LiSpan_BID_BTCUSD">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_sell')}}</span>
              <span id="LiSpan_ASK_BTCUSD">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_spread')}}</span>
              <span id="LiSpan_SPREAD_BTCUSD">433.56</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-product-card horizontal red-skin mt-3" id="LiSpan_Icon_TSLA">
      <div class="c-product-card__header">
        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.017 39.9309L25.618 8.37873C30.9567 8.37873 32.6407 8.96512 32.8838 11.3586C32.8838 11.3586 36.4652 10.021 38.2715 7.30448C31.2227 4.03286 24.1403 3.88531 24.1403 3.88531L20.0076 8.92716L20.017 8.92653L15.8843 3.88452C15.8843 3.88452 8.80172 4.03223 1.75391 7.30385C3.55865 10.0204 7.14144 11.3579 7.14144 11.3579C7.386 8.96432 9.06791 8.37794 14.3708 8.37414L20.017 39.9309Z" fill="#E82127"/>
          <path d="M20.0181 2.42904C25.716 2.3854 32.2379 3.31195 38.9144 6.22664C39.8067 4.61787 40.0361 3.90687 40.0361 3.90687C32.7378 1.01463 25.9029 0.0248281 20.0173 0C14.1319 0.0248281 7.29742 1.01479 0 3.90687C0 3.90687 0.325551 4.78266 1.12096 6.22664C7.79617 3.31195 14.3192 2.3854 20.0173 2.42904H20.0181Z" fill="#E82127"/>
        </svg>


        <div class="product-name">
          <span>Tesla</span>
        </div>
      </div>
      <div class="c-product-card__content">
        <div class="product-price">
          <div class="product-price__table">
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_buy')}}</span>
              <span id="LiSpan_BID_TSLA">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_sell')}}</span>
              <span id="LiSpan_ASK_TSLA">433.56</span>
            </div>
            <div class="product-price__table__cell">
              <span>{{LangValue('index_c11_spread')}}</span>
              <span id="LiSpan_SPREAD_TSLA">433.56</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {#  <div class="product-slider__item">#}
  {#    <div class="c-product-card vertical blue-skin">#}
  {#      <div class="c-product-card__header">#}
  {#        <div class="product-name">#}
  {#          <span>XAUTRY</span>#}
  {#        </div>#}
  {#        <div class="product-price">#}
  {#          433.55#}
  {#          <span>Trade</span>#}
  {#        </div>#}
  {#      </div>#}
  {#      <div class="c-product-card__content">#}
  {#        <div class="product-chart">#}
  {#          <div id="product-chart"></div>#}
  {#        </div>#}
  {#        <div class="product-price">#}
  {#          <div class="product-price__table">#}
  {#            <div class="product-price__table__cell">#}
  {#              <span>Alış</span>#}
  {#              <span>433.56</span>#}
  {#            </div>#}
  {#            <div class="product-price__table__cell">#}
  {#              <span>Satış</span>#}
  {#              <span>433.56</span>#}
  {#            </div>#}
  {#            <div class="product-price__table__cell">#}
  {#              <span>Kazanç</span>#}
  {#              <span>433.56</span>#}
  {#            </div>#}
  {#          </div>#}
  {#        </div>#}
  {#      </div>#}
  {#    </div>#}
  {#    <div class="c-product-card horizontal blue-skin mt-3">#}
  {#      <div class="c-product-card__header">#}
  {#        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 44">#}
  {#          <defs />#}
  {#          <g fill="#FFF" fill-rule="evenodd">#}
  {#            <path d="M19.854 3.7617C22.7566.0212926 26.7912 0 26.7912 0s.6023 3.52038-2.2858 6.90591c-3.0767 3.61979-6.5744 3.02355-6.5744 3.02355s-.6603-2.84611 1.923-6.16776zM18.3018 12.399c1.4949 0 4.2668-2.0086 7.8733-2.0086 6.2116 0 8.6498 4.3224 8.6498 4.3224s-4.7748 2.3918-4.7748 8.1834c0 6.5368 5.9504 8.7938 5.9504 8.7938s-4.158 11.4554-9.7818 11.4554c-2.5833 0-4.5861-1.7034-7.3073-1.7034-2.772 0-5.5223 1.7672-7.3146 1.7672C6.46641 43.2021-.013672 32.343-.013672 23.6059c0-8.595 5.485932-13.102 10.630772-13.102 3.3453.0071 5.9431 1.8951 7.6847 1.8951z" />#}
  {#          </g>#}
  {#        </svg>#}
  {#        <div class="product-name">#}
  {#          <span>Amazon</span>#}
  {#        </div>#}
  {#      </div>#}
  {#      <div class="c-product-card__content">#}
  {#        <div class="product-price">#}
  {#          <div class="product-price__table">#}
  {#            <div class="product-price__table__cell">#}
  {#              <span>Alış</span>#}
  {#              <span>433.56</span>#}
  {#            </div>#}
  {#            <div class="product-price__table__cell">#}
  {#              <span>Satış</span>#}
  {#              <span>433.56</span>#}
  {#            </div>#}
  {#            <div class="product-price__table__cell">#}
  {#              <span>Kazanç</span>#}
  {#              <span>433.56</span>#}
  {#            </div>#}
  {#          </div>#}
  {#        </div>#}
  {#      </div>#}
  {#    </div>#}
  {#  </div>#}
</div>
{#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>#}
{#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>#}
{#<script>#}
{#  document.addEventListener('DOMContentLoaded', function() {#}
{#    function makeChart(res, symbol) {#}
{#      const dayLabel = res.map(function (d) {#}
{#        return d.timestamp#}
{#      });#}
{#      const dayTemp = res.map(function (d) {#}
{#        return d.high#}
{#      });#}

{#      const ctx = document.getElementById("product-chart--"+symbol).getContext('2d');#}
{#      const myChart = new Chart(ctx, {#}
{#        type: 'line',#}
{#        data: {#}
{#          labels: dayLabel,#}
{#          datasets: [#}
{#            {#}
{#              // label: 'This week',#}
{#              data: dayTemp,#}
{#              borderColor: 'rgba(75, 192, 192, 1)',#}
{#              backgroundColor: 'rgba(75, 192, 192, 0.2)',#}
{#            }#}
{#          ]#}
{#        },#}
{#        options: {#}
{#          elements: {#}
{#            point:{#}
{#              radius: 0#}
{#            }#}
{#          },#}
{#          legend: {#}
{#            display: false,#}
{#          },#}
{#          tooltop: {#}
{#            enabled: false#}
{#          },#}
{#          scales: {#}
{#            xAxes: [{#}
{#              display: false#}
{#            }],#}
{#            yAxes: [{#}
{#              display: false#}
{#            }]#}
{#          },#}
{#        }#}
{#      });#}
{#    }#}
{#    function UpdateSpreadData() {#}
{#      fetch('https://cp.frxcrm.com/api/parite', {#}
{#        method: 'POST', // or 'PUT'#}
{#      })#}
{#        .then((response) => response.json())#}
{#        .then((datas) => {#}
{#          $lines = "";#}

{#          datas.forEach(function(data) {#}
{#            $row = data;#}

{#            if(#}
{#              $row.SYMBOL === 'TSLA' || $row.SYMBOL === 'GOOGL' || $row.SYMBOL === 'AAPL' || $row.SYMBOL === 'BTCUSD' || $row.SYMBOL === 'EURUSD' || $row.SYMBOL === 'USDTRY'#}
{#            ) {#}


{#              if($row.SYMBOL === 'BTCUSD') {#}
{#                d3.csv('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol='+$row.SYMBOL+'&apikey=E0TDJFAM60M8Z7UB&datatype=csv')#}
{#                  .then((res) => {#}
{#                    makeChart(res, 'BTCUSD')#}
{#                  });#}
{#              } else if($row.SYMBOL === 'EURUSD' ) {#}
{#                d3.csv('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol='+$row.SYMBOL+'&apikey=E0TDJFAM60M8Z7UB&datatype=csv')#}
{#                  .then((res) => {#}

{#                    makeChart(res, 'EURUSD')#}
{#                  });#}
{#              } else if($row.SYMBOL === 'USDTRY') {#}
{#                d3.csv('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol='+$row.SYMBOL+'&apikey=E0TDJFAM60M8Z7UB&datatype=csv')#}
{#                  .then((res) => {#}
{#                    makeChart(res, 'USDTRY')#}
{#                  });#}
{#              }#}

{#              $class = "red-skin" ;#}
{#              $class2 = "red-skin" ;#}

{#              if($row.DIRECTION == 1) {#}
{#                $class = "green-skin" ;#}
{#                $class2 = "green-skin";#}
{#              }#}

{#              const newsymbol = $row.SYMBOL.replace('&','');#}
{#              const newsymbolBid = "LiSpan_BID_" + $row.SYMBOL;#}
{#              const newsymbolAsk = "LiSpan_ASK_" + $row.SYMBOL;#}
{#              const newsymbolAsk1 = "LiSpan_ASK1_" + $row.SYMBOL;#}
{#              const newsymbolSpread = "LiSpan_SPREAD_" + $row.SYMBOL;#}
{#              const newsymbolIcon = "LiSpan_Icon_" + $row.SYMBOL;#}

{#              document.getElementById(newsymbolBid).innerHTML = $row.BID;#}
{#              document.getElementById(newsymbolAsk).innerHTML = $row.ASK;#}

{#              if(document.getElementById(newsymbolAsk1) !== null)#}
{#              {#}
{#                document.getElementById(newsymbolAsk1).innerHTML = $row.ASK;#}
{#              }#}
{#              if ($row['SPREAD'] == 0) {#}
{#                const bid = parseFloat($row.BID.replace(".","").replace(",","."));#}
{#                const ask = parseFloat($row.ASK.replace(".","").replace(",","."));#}
{#                const spread =(ask-bid).toFixed(6);#}

{#                document.getElementById(newsymbolSpread).innerHTML = spread;#}
{#              } else {#}
{#                document.getElementById(newsymbolSpread).innerHTML = $row['SPREAD'];#}
{#                // $("#LiSpan_SPREAD_" + newsymbol).html($row['SPREAD']);#}
{#              }#}

{#              document.getElementById(newsymbolIcon).classList.remove('green-skin');#}
{#              document.getElementById(newsymbolIcon).classList.remove('red-skin');#}
{#              document.getElementById(newsymbolIcon).classList.add($class);#}
{#            }#}
{#          });#}

{#        })#}
{#        .catch((error) => {#}
{#          console.error('Error:', error);#}
{#        });#}
{#    }#}
{#    UpdateSpreadData();#}
{#  })#}
{#</script>#}
