<div class="c-price-boxes" data-js="price-boxes">
  <div class="c-price-boxes__col">
    <div
      class="c-price-box standart{% if footer == true %} is-has-footer{% endif %}"
    >
      <div class="c-price-box__title">
        <span>
          
          {{LangValue('account_1_t1')}}
        </span>
        <a class="btn btn-md">{{LangValue('account_btn_select')}}</a>
      </div>
      <div class="c-price-box__description">
        <p>
          
          {{LangValue('account_1_t2')}}
        </p>
      </div>
      <div class="c-price-box__content">
        <ul class="list-unstyled">
    
          <li><strong>1.2</strong> {{LangValue('account_p_value1')}} </li>
          <li><strong>Stocks,Crypto,Fx,CFD </strong></li>
          <li>{{LangValue('account_p_value7')}} </li>
          <li><strong>{{LangValue('account_p_value10')}},{{LangValue('account_p_value11')}}</strong></li>
          <li>{{LangValue('account_p_value7')}}</li>
          <li>{{LangValue('account_p_value9')}}</li>
          <li><strong>%40</strong> {{LangValue('account_p_value13')}}</li>
        </ul>
      </div>

      {% if footer == true %}
      <div class="c-price-box__footer">
        <ul class="list-unstyled">
          <li>
            Döviz Pariteleri
            <strong>10 USD {{LangValue('account_p_9')}}</strong>
          </li>
          <li>
            Metaller
            <strong>10 USD {{LangValue('account_p_9')}}</strong>
          </li>
          <li>
            Kripto Paralar
            <strong>10 USD {{LangValue('account_p_9')}}</strong>
          </li>
          <li>
            ABD Borsası
            <strong>10 USD {{LangValue('account_p_9')}}</strong>
          </li>
          <li>
            Avrupa Borsası
            <strong>10 USD {{LangValue('account_p_9')}}</strong>
          </li>
          <li>
            Asya Borsası
            <strong>10 USD {{LangValue('account_p_9')}}</strong>
          </li>
          <li>
            Rusya Borsası
            <strong>10 USD {{LangValue('account_p_9')}}</strong>
          </li>
          <li>
           Emtialar
            <strong>10 USD Komisyon</strong>
          </li>
          <li>
            Spread Türü
            <strong>3 - 4</strong>
          </li>
        </ul>
        <div class="btn btn-block btn-primary btn-price-box"  style="display:none">
          Komisyon Oranlarını Gör
        </div>
      </div>
      {% endif %}
    </div>
  </div>
 <div class="c-price-boxes__col">
  <div
    class="c-price-box standart{% if footer == true %} is-has-footer{% endif %}"
  >
    <div class="c-price-box__title">
      <span>
         {{LangValue('account_3_t1')}}
       
      </span>
      <a class="btn btn-md">{{LangValue('account_btn_select')}}</a>
    </div>
    <div class="c-price-box__description">
      <p>
         {{LangValue('account_3_t2')}}

      </p>
    </div>
    <div class="c-price-box__content">
      <ul class="list-unstyled">
    
        <li><strong>0.8</strong> {{LangValue('account_p_value1')}} </li>
       <li><strong>Stocks,Crypto,Fx,CFD </strong></li>
        <li>{{LangValue('account_p_value7')}} </li>
        <li><strong>{{LangValue('account_p_value10')}},{{LangValue('account_p_value11')}}</strong></li>
        <li>{{LangValue('account_p_value7')}}</li>
        <li>{{LangValue('account_p_value9')}}</li>
        <li><strong>%40</strong> {{LangValue('account_p_value13')}}</li>
      </ul>
    </div>

    {% if footer == true %}
    <div class="c-price-box__footer">
      <ul class="list-unstyled">
        <li>
          Döviz Pariteleri
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Metaller
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Kripto Paralar
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          ABD Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Avrupa Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Asya Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Rusya Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Emtialar
          <strong>10 USD Komisyon</strong>
        </li>
        <li>
          Spread Türü
          <strong>3 - 4</strong>
        </li>
      </ul>
      <div class="btn btn-block btn-primary btn-price-box"  style="display:none">
        Komisyon Oranlarını Gör
      </div>
    </div>
    {% endif %}
  </div>
</div>

 <div class="c-price-boxes__col">
  <div
    class="c-price-box pro{% if footer == true %} is-has-footer{% endif %}"
  >
    <div class="c-price-box__title">
      <span>
       
        {{LangValue('account_2_t1')}}
      </span>
      <a class="btn btn-md">{{LangValue('account_btn_select')}}</a>
    </div>
    <div class="c-price-box__description">
      <p>
        
        {{LangValue('account_2_t2')}}
      </p>
    </div>
    <div class="c-price-box__content">
      <ul class="list-unstyled">
     
        <li><strong>0.6 </strong> {{LangValue('account_p_value1')}} </li>
        <li><strong>Stocks,Crypto,Fx,CFD </strong></li>
        <li>{{LangValue('account_p_value7')}} </li>
        <li><strong>{{LangValue('account_p_value10')}},{{LangValue('account_p_value11')}}</strong></li>
        <li>{{LangValue('account_p_value7')}}</li>
        <li>{{LangValue('account_p_value9')}}</li>
        <li><strong>%40</strong> {{LangValue('account_p_value13')}}</li>
      </ul>
    </div>

    {% if footer == true %}
    <div class="c-price-box__footer">
      <ul class="list-unstyled">
        <li>
          Döviz Pariteleri
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Metaller
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Kripto Paralar
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          ABD Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Avrupa Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Asya Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Rusya Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Emtialar
          <strong>10 USD Komisyon</strong>
        </li>
        <li>
          Spread Türü
          <strong>3 - 4</strong>
        </li>
      </ul>
      <div class="btn btn-block btn-primary btn-price-box" style="display:none">
        Komisyon Oranlarını Gör
      </div>
    </div>
    {% endif %}
  </div>
</div>

 <div class="c-price-boxes__col">
  <div
    class="c-price-box ultra{% if footer == true %} is-has-footer{% endif %}"
  >
    <div class="c-price-box__title">
      <span>
         {{LangValue('account_4_t1')}}
    
      </span>
      <a class="btn btn-md">{{LangValue('account_btn_select')}}</a>
    </div>
    <div class="c-price-box__description">
      <p>
        
        {{LangValue('account_4_t2')}}
      </p>
    </div>
    <div class="c-price-box__content">
      <ul class="list-unstyled">
       
        <li><strong>0.4</strong> {{LangValue('account_p_value1')}} </li>
        <li><strong>Stocks,Crypto,Fx,CFD </strong></li>
        <li>{{LangValue('account_p_value7')}} </li>
        <li><strong>{{LangValue('account_p_value10')}},{{LangValue('account_p_value11')}}</strong></li>
        <li>{{LangValue('account_p_value7')}}</li>
        <li>{{LangValue('account_p_value9')}}</li>
        <li><strong>%40</strong> {{LangValue('account_p_value13')}}</li>
      </ul>
    </div>

    {% if footer == true %}
    <div class="c-price-box__footer">
      <ul class="list-unstyled">
        <li>
          Döviz Pariteleri
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Metaller
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Kripto Paralar
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          ABD Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Avrupa Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Asya Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Rusya Borsası
          <strong>10 USD {{LangValue('account_p_9')}}</strong>
        </li>
        <li>
          Emtialar
          <strong>10 USD Komisyon</strong>
        </li>
        <li>
          Spread Türü
          <strong>3 - 4</strong>
        </li>
      </ul>
      <div class="btn btn-block btn-primary btn-price-box"  style="display:none">
        Komisyon Oranlarını Gör
      </div>
    </div>
    {% endif %}
  </div>
</div>





</div>
