<div class="home-slider is-hidden" data-js="home-slider">
  <div class="home-slider__cell">
    <div class="home-slider__content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">
            <h1>{{LangValue('slider_1_line1')}}<br>{{LangValue('slider_1_line2')}}</h1>
            <h5 class="mt-1">{{LangValue('slider_1_line3')}}</h5>
            <div class="row mt-2 md-mt-3">
              <div class="col-6">
                <a href="{{localizeURL('/demo') }}" class="btn btn-block btn-register-demo">{{LangValue('slider_1_button1')}}</a>
              </div>
              <div class="col-6">
                <a href="{{localizeURL('/register') }}" class="btn btn-block btn-register-real">{{LangValue('slider_1_button2')}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-slider__cell">
    <div class="home-slider__content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">
            <h1>{{LangValue('slider_2_line1')}}<br>{{LangValue('slider_2_line2')}} <br>{{LangValue('slider_2_line3')}}</h1>
            <h5 class="mt-1">{{LangValue('slider_2_line4')}}</h5>
            <div class="row mt-2 md-mt-3">
              <div class="col-6">
                <a href="{{localizeURL(data.menucorporate.SeoTags)}}" class="btn btn-block btn-register-demo">{{LangValue('slider_2_button1')}}</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
