{% extends '../layouts/default.twig' %}
{% set head_title = data.SefContent.SeoTitle ~ ' ' ~  CoInfo('SeosubFix') %}
{% set head_desc = data.SefContent.SeoDesc %}
{% set body_class = 'p-form' %} {% set menu_active = 'blank-page' %}
{% block page %} {% set live_exchange = true %} {% include
'../components/header.twig' %}

<div class="main-wrapper">
  <div class="c-form-container form-left has-form-send-btn">
    <div class="container">
      <form
        id="move-account"
        class="c-form-card form"
        data-form-type="transfer"
        data-submit-msg-success="{{LangValue('forms_return_custom3')}}"
        data-submit-msg-err1="{{LangValue('forms_return_error')}}"
        data-submit-msg-err2="{{ LangValue('forms_return_custom2') }}"
        data-sms-code-title="Sms Doğrulama"
        data-sms-code-desc="Kayıt olmak için telefonunuza gönderilen kodu <b></b> sn içerisinde yazınız."
        data-sms-code-error1="Lütfen size gönderilen doğrulama kodunu yazınız."
        data-sms-code-error2="Lütfen size gönderilen kodunu 6 haneli olacak sekilde yazınız."
        data-sms-code-btn="GÖNDER"
      >
        <div class="c-form-card__header">{{LangValue('register-transfer-t1')}}</div>
        <div class="c-form-card__content">
          <p>
            {{LangValue('register-transfer-t2')}}
            <span></span>
          </p>
          <div class="c-form">
            <div class="c-form__row">
              <input
                type="text"
                class="form-input form-input__line user"
                data-validation="required"
                name="name"
              />
              <label for="">{{LangValue('index_c10_input1-t')}}</label>
            </div>
            <div class="c-form__row">
              <input
                type="tel"
                class="form-input form-input__line phone"
                data-validation="required phone"
                name="phone"
              />
              <label for="">{{LangValue('index_c10_input3-t')}}</label>
            </div>
            <div class="c-form__row">
              <input
                type="text"
                class="form-input form-input__line mail"
                data-validation="required email"
                name="email"
              />
              <label for="">{{LangValue('index_c10_input4-t')}}</label>
            </div>
            <div class="c-form__row mt-2">
              <div class="g-recaptcha" data-sitekey="6LfqAi4bAAAAANikRyoht_o9oVYUt9ntdzshw19S"></div>
            </div>
            <div class="c-form__row mt-2">
              <div class="form-checkbox">
                <input
                  id="privacy-policy"
                  type="checkbox"
                  class="checkbox"
                  data-validation="requiredCheck"
                />
                <label for="privacy-policy">
                  <svg viewBox="0,0,50,50">
                    <path d="M5 30 L 20 45 L 45 5"></path>
                  </svg>
                </label>
                <label for="privacy-policy"
                  ><a href="#" class="privacy-policy-trigger">{{LangValue('register-agreement-l')}}</a> {{LangValue('register-agreement-t')}}</label
                >
              </div>
            </div>
            <div class="c-form__row mt-1">
              <div class="form-checkbox">
                <input
                  id="contract"
                  type="checkbox"
                  class="checkbox"
                  data-validation="requiredCheck"
                />
                <label for="contract">
                  <svg viewBox="0,0,50,50">
                    <path d="M5 30 L 20 45 L 45 5"></path>
                  </svg>
                </label>
                <label for="contract">
                   <a href="#" class="main-policy-trigger">{{LangValue('register-agreement-l2')}}</a> {{LangValue('register-agreement-t2')}}</label>

              </div>
            </div>
          </div>
        </div>
        <div class="c-form-card__footer">
          <button
            type="submit"
            id="move-account-btn"
            class="btn btn-secondary btn-block btn-create-account btn-loading"
          >
            {{LangValue('register-demo-btn1')}}
          </button>
          <p class="text-center mt-2 mb-2">
            {{LangValue('register-demo-btn2')}}
          </p>
          <a href="#" class="btn btn-block btn-white"
            >{{LangValue('register-demo-btn3')}}</a
          >
        </div>
      </form>
      <div class="c-form-card content dark-skin d-none d-md-inline-block">
        <div class="c-form-card__header"></div>
        <div class="c-form-card__content">
          <p>
            {{LangValue('register-transfer-t3')}}
          </p>
          <a href="#" class="btn btn-link"
            ><i></i>{{LangValue('register-transfer-btn4')}}</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="c-page-title text-md-center">
    <div class="container">
      <h1> {{LangValue('register-transfer-t4')}} </h1>
      <p>

    {{LangValue('register-transfer-t5')}}
      </p>
    </div>
  </div>
  <div class="container">
    <div class="c-whyiam-mo-ac">
      <div class="c-whyiam-mo-ac__content">
        <div class="c-whyiam-mo-ac__container">
          <div class="c-whyiam-mo-ac__item">
            <div class="c-card">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 82 82">
                <defs/>
                <path fill="#2478F4" d="M76.3215 58.7666h-.2077c-.8173 0-1.64.1804-2.3794.522l-16.6351 7.678h-6.2074c.656-.9786 1.0414-2.1525 1.0414-3.4167 0-3.3907-2.7593-6.15-6.15-6.15h-18.45c-.3621 0-.7106.1435-.9662.4004l-5.0662 5.0663h-7.6342v-1.3667c0-.7544-.6123-1.3667-1.3667-1.3667H1.36667C.612267 60.1332 0 60.7455 0 61.4999v19.1333c0 .7544.612267 1.3667 1.36667 1.3667H12.3c.7544 0 1.3667-.6123 1.3667-1.3667h45.1c.235 0 .466-.0601.6696-.1749l19.6691-11.0632C80.8903 68.3893 82 66.4923 82 64.4451c0-3.1311-2.5475-5.6785-5.6785-5.6785zm-65.3882 20.5H2.73333v-16.4h8.19997v16.4zm66.8314-12.2549L58.4086 77.8999H13.6667v-12.3h8.2c.3621 0 .7106-.1435.9662-.4004l5.0662-5.0663h17.8842c1.8833 0 3.4167 1.5334 3.4167 3.4167s-1.5334 3.4167-3.4167 3.4167H34.1667v2.7333H57.4c.1982 0 .3936-.0424.5726-.1257l16.9084-7.8037c.3827-.1777.8091-.2706 1.2328-.2706h.2077c1.6236 0 2.9452 1.3216 2.9452 2.9452 0 1.0619-.5754 2.0459-1.502 2.5666zM40.9993 0C25.9277 0 13.666 12.2617 13.666 27.3333c0 15.0716 12.2617 27.3334 27.3333 27.3334 15.0716 0 27.3334-12.2618 27.3334-27.3334C68.3327 12.2617 56.0709 0 40.9993 0zm0 51.9333c-13.5641 0-24.6-11.0358-24.6-24.6 0-13.5641 11.0359-24.59997 24.6-24.59997 13.5642 0 24.6 11.03587 24.6 24.59997 0 13.5642-11.0358 24.6-24.6 24.6z"/>
                <path fill="#2478F4" d="M58.4914 14.2105l-2.1839 1.6427c2.5024 3.3306 3.8253 7.2994 3.8253 11.48 0 10.5507-8.5827 19.1334-19.1333 19.1334-10.5507 0-19.1334-8.5827-19.1334-19.1334 0-10.5506 8.5827-19.13331 19.1334-19.13331 3.1105 0 6.1978.7626 8.9284 2.20581l1.2778-2.41765c-3.1228-1.64956-6.6529-2.5215-10.2062-2.5215-12.0568 0-21.8667 9.80995-21.8667 21.86665 0 12.0568 9.8099 21.8667 21.8667 21.8667 12.0567 0 21.8666-9.8099 21.8666-21.8667 0-4.7765-1.5129-9.3138-4.3747-13.1227z"/>
                <path fill="#2478F4" d="M55.8671 11.2981c-.5535-.5139-1.1398-1.0045-1.7439-1.45826l-1.6427 2.18526c.5289.3977 1.0427.8269 1.5265 1.2765l1.8601-2.0035zM39.6341 17.7667h2.7333c2.2605 0 4.1 1.8395 4.1 4.1h2.7334c0-3.7679-3.0655-6.8333-6.8334-6.8333V12.3h-2.7333v2.7334c-3.7679 0-6.8333 3.0654-6.8333 6.8333 0 3.7679 3.0654 6.8333 6.8333 6.8333h2.7333c2.2605 0 4.1 1.8396 4.1 4.1 0 2.2605-1.8395 4.1-4.1 4.1h-2.7333c-2.2605 0-4.1-1.8395-4.1-4.1h-2.7333c0 3.7679 3.0654 6.8334 6.8333 6.8334v2.7333h2.7333v-2.7333c3.7679 0 6.8334-3.0655 6.8334-6.8334s-3.0655-6.8333-6.8334-6.8333h-2.7333c-2.2605 0-4.1-1.8395-4.1-4.1 0-2.2605 1.8395-4.1 4.1-4.1zM56.0341 25.9666h-2.7333v2.7333h2.7333v-2.7333zM28.7001 25.9666h-2.7333v2.7333h2.7333v-2.7333zM64.2333 47.8333H61.5v2.7333h2.7333v-2.7333zM64.2333 53.3H61.5v8.2h2.7333v-8.2zM57.3993 56.0334H54.666v8.2h2.7333v-8.2z"/>
              </svg>
              <h3>{{LangValue('register-transfer-6-t')}}</h3>
              <p> {{LangValue('register-transfer-6-d')}}</p>
            </div>
          </div>
          <div class="c-whyiam-mo-ac__item">
            <div class="c-card">
              <h3> {{LangValue('register-transfer-1-t1')}} </h3>
              <p>{{LangValue('register-transfer-1-d1')}}</p>
              <hr>
              <h3> {{LangValue('register-transfer-1-t2')}}</h3>
              <p>{{LangValue('register-transfer-1-d2')}}</p>
            </div>
          </div>
          <div class="c-whyiam-mo-ac__item">
            <div class="c-card">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 88 99">
                <defs/>
                <path fill="#2478F4" d="M44.1876 12.3748C20.2911 12.3748.875 31.791.875 55.6874.875 79.584 20.2911 99 44.1876 99c23.8965 0 43.3126-19.416 43.3126-43.3126 0-23.8964-19.4161-43.3126-43.3126-43.3126zm0 4.125c21.6672 0 39.1876 17.5205 39.1876 39.1876 0 21.6672-17.5204 39.1876-39.1876 39.1876-21.6671 0-39.18759-17.5204-39.18759-39.1876 0-21.6671 17.52049-39.1876 39.18759-39.1876z"/>
                <path fill="#2478F4" d="M44.2049.00024414c-2.3593 0-4.7182.79115186-6.6347 2.38691586-.0014-.00001-.0027-.00001-.0041 0-3.8312 3.19337-4.8135 8.71174-2.3163 13.02484.2741.4733.7252.8186 1.2539.9596.5288.1411 1.092.0665 1.5658-.2073.4737-.2738.8193-.7244.9606-1.2527.1413-.5283.0668-1.0911-.2072-1.5645-1.5064-2.6016-.9297-5.86232 1.3858-7.79242 2.3166-1.92865 5.6631-1.92161 7.9721.02065 2.3101 1.93648 2.8794 5.19897 1.3656 7.79647-.1418.2341-.2355.4941-.2756.7647-.0402.2707-.026.5466.0417.8117.0677.2652.1876.5142.3526.7326.165.2183.3719.4016.6086.5393.2367.1376.4984.2267.7699.2622.2716.0355.5474.0166.8116-.0555.2641-.0722.5113-.1961.7269-.3647.2157-.1686.3956-.3784.5293-.6172 2.5094-4.3063 1.5424-9.82494-2.28-13.02904C48.9211.812672 46.564.00931352 44.2048.00477601l.0001-.00453187zM44.1959 24.7498c-7.1331 0-14.2676 2.4017-20.0731 7.2107-11.6356 9.6397-14.1062 26.2386-6.5702 39.2037.1819.3118.4424.5704.7556.75.3132.1796.6679.2737 1.0289.2732h49.6975c.3603-.0002.7143-.0947 1.0267-.2742.3124-.1795.5723-.4378.7539-.749 7.5488-12.9585 5.0696-29.5351-6.5541-39.1835-5.8002-4.8153-12.932-7.227-20.0652-7.2309zm-.0041 4.1211c6.1955 0 12.3921 2.0978 17.4346 6.284 9.773 8.1123 11.9135 21.7683 6.0063 32.9075H20.7349c-5.898-11.1466-3.76-24.8266 6.0183-32.9275 5.0473-4.1809 11.2431-6.2675 17.4386-6.264z"/>
                <path fill="#2478F4" fill-rule="evenodd" d="M44.1555 39.187c-.2708.0042-.5382.0618-.7868.1693-.2487.1076-.4737.263-.6622.4575s-.3369.4243-.4366.6761c-.0998.2519-.1489.5209-.1446.7917v18.5009c-.0039.2733.0466.5448.1485.7984.1019.2536.2532.4844.4451.679.1919.1946.4206.3492.6728.4547.2521.1055.5227.1596.7961.1596.2733 0 .5439-.0541.7961-.1596.2521-.1055.4808-.2601.6727-.4547.1919-.1946.3432-.4254.4451-.679.1019-.2536.1524-.5251.1486-.7984V41.2816c.0043-.2762-.0469-.5506-.1507-.8066-.1037-.2561-.2578-.4887-.4532-.6841-.1954-.1954-.428-.3496-.6841-.4533-.2561-.1038-.5305-.1549-.8068-.1506z" clip-rule="evenodd"/>
                <path fill="#2478F4" fill-rule="evenodd" d="M33.8549 49.4997c-.4287.0044-.8453.1421-1.1921.394-.3467.2519-.6064.6055-.7429 1.0116-.1365.4061-.143.8446-.0188 1.2546.1243.41.3733.7711.7123 1.0332l10.2947 8.2289c.3661.2928.821.4524 1.2899.4524.4689 0 .9238-.1596 1.2899-.4524l10.2947-8.2289c.2127-.1689.3899-.3783.5215-.6158.1316-.2375.215-.4986.2455-.7684.0304-.2698.0072-.5428-.0682-.8036-.0754-.2609-.2016-.5043-.3713-.7163-.1697-.212-.3797-.3884-.6178-.5192-.2381-.1308-.4997-.2134-.7697-.2429-.2701-.0296-.5434-.0055-.8041.0707-.2608.0762-.504.2029-.7156.3731l-9.0049 7.2019-9.0049-7.2019c-.3763-.3102-.8504-.4769-1.3382-.471z" clip-rule="evenodd"/>
              </svg>
               <h3> {{LangValue('register-transfer-2-t')}}</h3>
              <p>{{LangValue('register-transfer-2-d')}}</p>
            </div>
          </div>
          <div class="c-whyiam-mo-ac__item">
            <div class="c-card">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 94 94">
                <defs/>
                <path fill="#2478F4" d="M28.6264 59.8181h-8.1182c-.8545 0-1.4242.5697-1.4242 1.4243v18.9424c0 .8545.5697 1.4242 1.4242 1.4242h8.1182c.8546 0 1.4243-.5697 1.4243-1.4242V61.2424c0-.7122-.5697-1.4243-1.4243-1.4243zM27.2022 78.903h-5.2697V62.6666h5.2697V78.903zM37.6 54.1211c-.8545 0-1.4242.5697-1.4242 1.4242v24.6394c0 .8546.5697 1.4243 1.4242 1.4243h8.1182c.8546 0 1.4242-.5697 1.4242-1.4243V55.5453c0-.8545-.5696-1.4242-1.4242-1.4242H37.6zm6.694 24.7818h-5.2697V56.9696h5.2697v21.9333zM53.123 45.5759v34.609c0 .8546.5697 1.4243 1.4243 1.4243h8.1182c.8545 0 1.4242-.5697 1.4242-1.4243v-34.609c0-.8546-.5697-1.4243-1.4242-1.4243h-8.1182c-.7121 0-1.4243.7121-1.4243 1.4243zm2.8485 1.4242h5.2697v31.7606h-5.2697V47.0001zM71.6391 32.7576c-.8546 0-1.4243.5697-1.4243 1.4242v46.003c0 .8546.5697 1.4243 1.4243 1.4243h8.1182c.8545 0 1.4242-.5697 1.4242-1.4243v-46.003c0-.8545-.5697-1.4242-1.4242-1.4242h-8.1182zm6.5515 46.1454h-5.2697V35.6061h5.2697V78.903zM69.0755 20.794l-2.4212 2.9909c2.4212 2.1364 5.2697 3.4182 8.2606 3.703v2.4212h2.1364v-2.4212c2.2788-.1424 4.1303-.8545 5.5545-1.9939 1.4243-1.2818 2.1364-2.8485 2.1364-4.8424 0-1.994-.5697-3.4182-1.8515-4.5576-1.2819-.997-3.1334-1.8515-5.697-2.4212h-.1424V7.26368c1.7091.28485 3.2757.85455 4.8424 1.99394l2.1364-3.13333c-2.1364-1.56667-4.5576-2.42121-6.9788-2.56364V1.85156h-2.1364v1.70909c-2.1364.14243-3.9879.85455-5.2697 1.99394-1.4242 1.28182-1.9939 2.84849-1.9939 4.84241 0 1.994.5697 3.4182 1.7091 4.4152 1.1394.9969 2.9909 1.8515 5.5545 2.4212v6.5515c-1.9939-.4273-3.9879-1.4242-5.8394-2.9909zm7.9758-2.9909c1.2818.4273 2.2788.8545 2.706 1.2818.4273.4273.7121 1.1394.7121 1.8515s-.2848 1.4243-.9969 1.994c-.5697.5696-1.4243.8545-2.5637.9969v-6.1242h.1425zm-4.7-6.1243c-.4273-.4272-.7122-.9969-.7122-1.85148 0-.71212.2849-1.42424.8546-1.85151.5697-.5697 1.4242-.85455 2.4212-.85455v5.83944c-1.2818-.2849-2.1364-.7122-2.5636-1.2819z"/>
                <path fill="#2478F4" d="M94 85.597c0-.4273-.1424-.7122-.4273-.997l-6.6939-6.6939c-.5697-.5697-1.4243-.5697-1.994 0-.5697.5697-.5697 1.4242 0 1.9939l4.2728 4.2727H9.9697V4.84242l4.4151 4.41516c.5697.56969 1.4243.56969 1.994 0 .5697-.5697.5697-1.42425 0-1.99394L9.54242.427273C9.25758.142424 8.97273 0 8.54545 0c-.42727 0-.85454.142424-.99697.427273L.427273 7.26364c-.569697.56969-.569697 1.42424 0 1.99394.569697.56969 1.424247.56969 1.993937 0l4.7-4.41516V85.597c0 .8545.5697 1.4242 1.42424 1.4242H89.1576L84.6 91.5788c-.5697.5697-.5697 1.4242 0 1.9939.5697.5697 1.4242.5697 1.9939 0l6.9788-6.9788c.2849-.2848.4273-.7121.4273-.9969z"/>
                <path fill="#2478F4" d="M15.0965 29.6241c-.1424.5697.1424 1.1394.4272 1.5667l13.9576 18.2303c.4273.5697.997.8546 1.7091.8546.4273 0 .997-.1425 1.2818-.4273l20.6515-15.8091c.2849-.1424.4273-.5697.5697-.8546l3.1334-15.9515c.1424-.8545 0-1.8515-.5697-2.706-.5697-.7122-1.4243-1.2818-2.4212-1.2818L37.5995 12.106c-.2848 0-.7121.1424-.997.2848L15.951 28.1999c-.4273.2848-.7121.8545-.8545 1.4242zm22.7879-14.6697l15.809 1.1394c.1425 0 .2849.1425.2849.1425s.1424.1424.1424.4272l-2.9909 15.5243-19.797 14.9545-13.103-17.0909 19.6546-15.097z"/>
                <path fill="#2478F4" d="M45.7189 27.7727c1.1394 0 2.2788-.4273 3.1333-1.1394 2.2788-1.7091 2.7061-4.9848.997-7.2636-.997-1.2818-2.5636-1.994-4.1303-1.994-1.1394 0-2.2788.4273-3.1333 1.1394-1.1394.8546-1.8516 2.1364-1.994 3.4182-.1424 1.4243.1424 2.7061.997 3.8455.997 1.2818 2.4212 1.9939 4.1303 1.9939zm-2.4212-5.4121c.1424-.5697.4272-1.1394.8545-1.5667.4273-.2848.8546-.4273 1.4243-.4273.7121 0 1.4242.2849 1.8515.997.8545.997.5697 2.5636-.4273 3.2758-.997.7121-2.5636.5697-3.2758-.4273-.2848-.7121-.4272-1.2818-.4272-1.8515zM38.1692 36.8878c.4273.5696 1.4242.7121 1.9939.2848.5697-.4273.7122-1.4242.2849-1.9939L32.1874 24.212c-.4273-.5697-1.4243-.7121-1.994-.2849-.5697.4273-.7121 1.4243-.2848 1.994l8.2606 10.9667zM34.6083 41.4453c.5697-.4273.7121-1.4242.2848-1.9939l-8.403-10.9667c-.4273-.5697-1.4242-.7121-1.9939-.2848-.5697.4272-.7121 1.4242-.2849 1.9939l8.4031 10.9667c.4272.7121 1.4242.7121 1.9939.2848z"/>
              </svg>
               <h3> {{LangValue('register-transfer-5-t')}}</h3>
              <p>{{LangValue('register-transfer-5-d')}}</p>
            </div>
          </div>
          <div class="c-whyiam-mo-ac__item">
            <div class="c-card">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 114 82">
                <defs/>
                <path fill="#2478F4" d="M102.629 9.82666c-.707-.76588-1.903-.81375-2.67-.10455-.7659.70789-.8138 1.90339-.1046 2.67049 6.2566 6.7695 9.8806 15.4461 10.3196 24.6089h-3.912c-1.043 0-1.889.8452-1.889 1.8895s.846 1.8895 1.889 1.8895h3.91c-.959 20.03-17.0807 36.1512-37.112 37.1111v-3.91c0-1.043-.8465-1.8895-1.8895-1.8895s-1.8895.8465-1.8895 1.8895v3.91c-20.0312-.9599-36.1525-17.0811-37.1123-37.1124h3.9112c1.0443 0 1.8895-.8452 1.8895-1.8895 0-1.0442-.8452-1.8895-1.8895-1.8895h-3.8898c.7016-14.2632 9.2623-27.23526 22.2457-33.40386.9435-.44718 1.3441-1.57459.8957-2.51808-.4472-.943491-1.5746-1.341547-2.5181-.895624C37.948 7.2456 28.3418 22.4397 28.3418 38.8897c0 23.6163 19.2125 42.8288 42.8287 42.8288 23.6163 0 42.8285-19.2125 42.8285-42.8288 0-10.8092-4.038-21.1296-11.37-29.06304z"/>
                <path fill="#2478F4" d="M69.6756 33.259L49.1141 12.6986c-.7382-.7381-1.9336-.7381-2.6718 0-.7382.7369-.7382 1.9349 0 2.6718L66.4899 35.418c-.723.9725-1.1664 2.1667-1.1664 3.4729 0 3.2298 2.6176 5.8487 5.8486 5.8487 3.2311 0 5.8486-2.6176 5.8486-5.8487 0-.9233-.2343-1.7849-.6134-2.5621l16.5709-16.5722c.7382-.7369.7382-1.9349 0-2.6718-.7381-.7382-1.9336-.7382-2.6717 0l-16.5722 16.571c-.7772-.3817-1.6389-.6148-2.5622-.6148-.5202 0-1.0165.0907-1.4965.218zM8.18833 25.0334H20.785c1.0443 0 1.8895-.8452 1.8895-1.8895s-.8452-1.8895-1.8895-1.8895H8.18833c-1.04426 0-1.8895.8452-1.8895 1.8895s.84524 1.8895 1.8895 1.8895zM23.9337 37.0002H1.8895C.845238 37.0002 0 37.8455 0 38.8897c0 1.0443.845238 1.8895 1.8895 1.8895h22.0442c1.0443 0 1.8895-.8452 1.8895-1.8895 0-1.0442-.8452-1.8895-1.8895-1.8895zM20.785 52.7462H8.18833c-1.04426 0-1.8895.8465-1.8895 1.8895s.84524 1.8895 1.8895 1.8895H20.785c1.0443 0 1.8895-.8465 1.8895-1.8895s-.8452-1.8895-1.8895-1.8895z"/>
              </svg>
              <h3> {{LangValue('register-transfer-4-t')}}</h3>
              <p>{{LangValue('register-transfer-4-d')}}</p>
            </div>
          </div>
          <div class="c-whyiam-mo-ac__item">
            <div class="c-card">
              <svg width="86" height="101" viewBox="0 0 86 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M73.3672 0.905588L72.8615 0.399902L70.5391 2.72231L71.026 3.228C78.5364 10.7384 82.6568 20.7023 82.6568 31.3217C82.6568 41.9411 78.5177 51.905 71.026 59.4153L70.5391 59.921L72.8615 62.2434L73.3672 61.7565C81.4956 53.628 85.9531 42.8401 85.9531 31.3591C85.9719 19.822 81.4956 9.03402 73.3672 0.905588Z" fill="#2478F4"/>
                <path d="M63.6269 10.6634L63.1212 10.1577L60.7988 12.4801L61.2858 12.9858C66.1928 17.8928 68.8898 24.3918 68.8898 31.3216C68.8898 38.2514 66.1928 44.7691 61.2858 49.6574L60.7988 50.1631L63.1212 52.4855L63.6269 51.9798C69.152 46.4547 72.1861 39.1317 72.1861 31.3216C72.1861 23.5116 69.1333 16.1698 63.6269 10.6634Z" fill="#2478F4"/>
                <path d="M53.383 19.9155L51.0605 22.2379L51.5475 22.7436C56.286 27.4821 56.286 35.1798 51.5475 39.9182L51.0605 40.4239L53.383 42.7463L53.8886 42.2406C56.7917 39.3376 58.4024 35.4607 58.4024 31.3403C58.4024 27.2199 56.7917 23.343 53.8886 20.4399L53.383 19.9155Z" fill="#2478F4"/>
                <path d="M14.8943 3.228L15.4 2.72231L13.0776 0.399902L12.5719 0.905588C-4.19064 17.6681 -4.19064 44.9565 12.5719 61.719L13.0776 62.206L15.4 59.8836L14.8943 59.3966C-0.594651 43.9076 -0.594651 18.717 14.8943 3.228Z" fill="#2478F4"/>
                <path d="M25.1391 12.4801L22.8167 10.1577L22.311 10.6634C16.8046 16.1698 13.7705 23.5116 13.7705 31.3216C13.7705 39.1317 16.8046 46.4735 22.311 51.9798L22.8167 52.4855L25.1391 50.1631L24.6334 49.6574C14.5197 39.5437 14.5197 23.0995 24.6334 12.9858L25.1391 12.4801Z" fill="#2478F4"/>
                <path d="M34.8965 22.2191L32.5741 19.8967L32.0684 20.4024C29.1654 23.3054 27.5547 27.1824 27.5547 31.3028C27.5547 35.4232 29.1654 39.3001 32.0684 42.2031L32.5741 42.7088L34.8965 40.3864L34.3908 39.8807C29.6523 35.1422 29.6523 27.4446 34.3908 22.7061L34.8965 22.2191Z" fill="#2478F4"/>
                <path d="M43.0255 24.8228C42.9881 24.8228 42.9693 24.8228 42.9319 24.8228C41.2088 24.8228 39.5794 25.497 38.362 26.7144C36.8262 28.2502 36.1707 30.4415 36.6014 32.5766C36.8449 33.8502 37.463 35.0114 38.3807 35.9291C39.5981 37.1465 41.2275 37.8208 43.0068 37.8208C44.7299 37.8208 46.3593 37.1465 47.5767 35.9291C48.457 35.0489 49.0563 33.9438 49.3185 32.7077C49.4309 32.202 49.4871 31.7525 49.4871 31.303C49.4871 29.5612 48.8128 27.9318 47.5954 26.7144C46.378 25.497 44.7486 24.8228 43.0255 24.8228ZM46.1346 31.9585C46.0035 32.5766 45.7038 33.1198 45.2543 33.5693C44.6362 34.1873 43.8309 34.5244 42.9881 34.5244C42.1265 34.5244 41.3212 34.1873 40.7219 33.5693C40.2724 33.1198 39.9727 32.5579 39.8416 31.9398C39.6356 30.891 39.9727 29.8047 40.7406 29.0368C41.3399 28.4375 42.1453 28.1003 42.9881 28.0816C43.8496 28.1003 44.655 28.4375 45.2543 29.0368C45.8724 29.6549 46.2095 30.4602 46.2095 31.3218C46.1908 31.5465 46.172 31.7525 46.1346 31.9585Z" fill="#2478F4"/>
                <path d="M42.9685 42.3716C39.5598 42.3716 36.8066 45.1435 36.8066 48.5335V93.8579C36.8066 97.2666 39.5785 100.02 42.9685 100.02C46.3772 100.02 49.1304 97.2479 49.1304 93.8579V48.5522C49.1491 45.1435 46.3772 42.3716 42.9685 42.3716ZM45.8715 93.8579C45.8715 95.4499 44.5792 96.7422 42.9872 96.7422C41.3953 96.7422 40.103 95.4499 40.103 93.8579V48.5522C40.103 46.9602 41.3953 45.6679 42.9872 45.6679C44.5792 45.6679 45.8715 46.9602 45.8715 48.5522V93.8579Z" fill="#2478F4"/>
              </svg>

              <h3> {{LangValue('register-transfer-3-t')}}</h3>
              <p>{{LangValue('register-transfer-3-d')}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include '../components/footer.twig' %} {% endblock %}
