{% extends '../layouts/default.twig' %} 
{% set head_title = data.SefContent.SeoTitle ~ ' ' ~  CoInfo('SeosubFix') %}
{% set head_desc = data.SefContent.SeoDesc %}
{% set body_class = 'p-platform' %} {% set menu_active = 'blank-page'
%} {% block page %} {% set live_exchange = true %} {% include
'../components/header.twig' %}

<div class="main-wrapper">
  <div class="p-platform__promotion">
    <div class="c-page-title mt-4">
      <div class="container">
        <h1>
          <strong>{{LangValue('subpage_platform_h1')}} </strong>
        </h1>
        <p>
          {{LangValue('subpage_platform_h2')}}
        </p>
      </div>
    </div>
    <div class="container mt-5 pt-0 md-pt-5">
      <div class="row">
        <div class="col-12 col-md-8">
          <h2>{{LangValue('platform-t1')}}</h2>
          <p>
            {{LangValue('platform-t2')}}
          </p>

          <div class="row mt-3">
            <div class="col-6">
              <a
                href="/meta" target="_blank" 
                class="btn btn-primary btn-platform webtrader"
              >
                <span>Web Trader</span>
                <i></i>
              </a>
            </div>
            <div class="col-6">
              <a target="_blank" 
                href="https://download.mql5.com/cdn/web/16131/mt5/kalefx5setup.exe"
                class="btn btn-primary btn-platform windows"
              >
                <span>Download<br />for PC </span>
                <i></i>
              </a>
            </div>
            <div class="col-6 mt-2">
              <a
                href="https://download.mql5.com/cdn/mobile/mt5/android?server=KaleFX-MetaTrader5" target="_blank" 
                class="btn btn-primary btn-platform android"
              >
                <span>Download <br />for Android</span>
                <i></i>
              </a>
            </div>
            <div class="col-6 mt-2">
              <a href="https://download.mql5.com/cdn/mobile/mt5/ios?server=KaleFX-MetaTrader5" target="_blank"  class="btn btn-primary btn-platform ios">
                <span>Download  <br />for IOS</span>
                <i></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center text-md-left mt-3 md-mt-0">
          <img src="assets/img/metatrader-app-preview.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="p-platform__advantage">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md">
          <div class="p-platform__advantage__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 48 52"
            >
              <defs />
              <path
                fill="#2478F4"
                fill-rule="evenodd"
                d="M7.09093 25.9997c-1.3054 0-2.36364 1.0583-2.36364 2.3637v16.5455c0 1.3054 1.05824 2.3636 2.36364 2.3636H40.1819c1.3054 0 2.3637-1.0582 2.3637-2.3636V28.3634c0-1.3054-1.0583-2.3637-2.3637-2.3637H7.09093zm0-4.7272H40.1819c3.9162 0 7.091 3.1747 7.091 7.0909v16.5455c0 3.9162-3.1748 7.0909-7.091 7.0909H7.09093C3.17472 51.9998 0 48.8251 0 44.9089V28.3634c0-3.9162 3.17472-7.0909 7.09093-7.0909z"
                clip-rule="evenodd"
              />
              <path
                fill="#2478F4"
                fill-rule="evenodd"
                d="M14.1813 37.8181c-1.3054 0-2.3637-1.0582-2.3637-2.3636s1.0583-2.3637 2.3637-2.3637c1.3054 0 2.3636 1.0583 2.3636 2.3637 0 1.3054-1.0582 2.3636-2.3636 2.3636zM23.6361 37.8181c-1.3054 0-2.3636-1.0582-2.3636-2.3636s1.0582-2.3637 2.3636-2.3637 2.3636 1.0583 2.3636 2.3637c0 1.3054-1.0582 2.3636-2.3636 2.3636zM33.0912 37.8181c-1.3054 0-2.3637-1.0582-2.3637-2.3636s1.0583-2.3637 2.3637-2.3637c1.3054 0 2.3636 1.0583 2.3636 2.3637 0 1.3054-1.0582 2.3636-2.3636 2.3636zM14.1824 23.6364c0 1.3054-1.0583 2.3637-2.3637 2.3637-1.3054 0-2.36362-1.0583-2.36362-2.3637v-9.4545C9.45508 6.34943 15.8045 0 23.6369 0c7.8325 0 14.1819 6.34943 14.1819 14.1819v9.4545c0 1.3054-1.0582 2.3637-2.3636 2.3637-1.3055 0-2.3637-1.0583-2.3637-2.3637v-9.4545c0-5.22166-4.2329-9.45461-9.4546-9.45461-5.2216 0-9.4545 4.23295-9.4545 9.45461v9.4545z"
                clip-rule="evenodd"
              />
            </svg>
            {{LangValue('platform-prop1-1')}}
          </div>
        </div>
        <div class="col-12 col-md">
          <div class="p-platform__advantage__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 63 48"
            >
              <defs />
              <path
                fill="#2478F4"
                d="M31.75.0644531C14.5132.0644531.5 14.0776.5 31.3145c0 5.0657 1.25 10.0657 3.55263 14.5394.46053.9211 1.38158 1.4474 2.36842 1.4474.39474 0 .85527-.0658 1.25-.3289 1.31579-.6579 1.77632-2.3027 1.11842-3.6185-1.90789-3.6842-2.96052-7.8947-2.96052-12.0394 0-14.2764 11.64475-25.9211 25.92105-25.9211s25.9211 11.6447 25.9211 25.9211c0 4.2105-1.0527 8.421-2.9606 12.0394-.6579 1.3158-.1973 2.8948 1.1184 3.6185 1.3158.6578 2.8948.1973 3.6185-1.1185C61.8158 41.446 63 36.3802 63 31.3145 63 14.0776 48.9868.0644531 31.75.0644531z"
              />
              <path
                fill="#2478F4"
                d="M44.4482 15.7223l-16.1184 10c-1.9737 1.25-3.1579 3.4211-3.1579 5.7237.0658 3.6842 3.0263 6.6447 6.7105 6.579 2.3026 0 4.4737-1.25 5.6579-3.2895l9.671-16.3158c1.1185-1.7763-.921-3.8158-2.7631-2.6974zM31.7496 14.4723c1.5624 0 2.8289-1.2665 2.8289-2.8289s-1.2665-2.82895-2.8289-2.82895-2.8289 1.26655-2.8289 2.82895c0 1.5624 1.2665 2.8289 2.8289 2.8289zM19.8785 19.3815c1.1047-1.1048 1.1048-2.896 0-4.0007-1.1048-1.1048-2.8959-1.1048-4.0007 0-1.1048 1.1047-1.1048 2.8959 0 4.0007 1.1048 1.1047 2.8959 1.1047 4.0007 0zM12.1454 34.0778c1.5623 0 2.8289-1.2665 2.8289-2.8289s-1.2666-2.829-2.8289-2.829c-1.5624 0-2.82899 1.2666-2.82899 2.829 0 1.5624 1.26659 2.8289 2.82899 2.8289zM51.42 34.1435c1.5624 0 2.829-1.2666 2.829-2.829 0-1.5623-1.2666-2.8289-2.829-2.8289-1.5624 0-2.8289 1.2666-2.8289 2.8289 0 1.5624 1.2665 2.829 2.8289 2.829z"
              />
            </svg>
            {{LangValue('platform-prop1-2')}}

          </div>
        </div>
        <div class="col-12 col-md">
          <div class="p-platform__advantage__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 51 59"
            >
              <defs />
              <path
                fill="#2478F4"
                d="M25.1896 27.4583c-1.658 0-3.2787-.4916-4.6573-1.4127-1.3786-.9212-2.4531-2.2304-3.0875-3.7622-.6345-1.5318-.8005-3.2173-.4771-4.8435.3235-1.6261 1.1219-3.1198 2.2943-4.2922 1.1723-1.1724 2.666-1.9708 4.2922-2.2942 1.6261-.3235 3.3117-.1575 4.8435.477 1.5317.6345 2.841 1.709 3.7621 3.0875.9212 1.3786 1.4128 2.9994 1.4128 4.6574 0 2.2233-.8832 4.3555-2.4553 5.9276-1.5721 1.5721-3.7044 2.4553-5.9277 2.4553zm0-12.5744c-.829 0-1.6394.2458-2.3286.7064-.6893.4605-1.2266 1.1152-1.5438 1.8811-.3173.7658-.4003 1.6086-.2385 2.4217.1617.8131.5609 1.5599 1.1471 2.1461s1.333.9854 2.1461 1.1471c.8131.1617 1.6558.0787 2.4217-.2385s1.4206-.8545 1.8811-1.5438c.4606-.6893.7064-1.4996.7064-2.3286 0-1.1117-.4416-2.1778-1.2276-2.9639-.7861-.786-1.8522-1.2276-2.9639-1.2276z"
              />
              <path
                fill="#2478F4"
                d="M35.6677 31.5451c-.2758.0016-.5492-.0513-.8046-.1556-.2553-.1043-.4875-.2579-.6834-.4522-.1964-.1948-.3523-.4266-.4587-.682-.1064-.2553-.1612-.5293-.1612-.8059 0-.2767.0548-.5506.1612-.806.1064-.2554.2623-.4872.4587-.682 2.3548-2.3577 3.6775-5.5537 3.6775-8.886 0-3.3322-1.3227-6.5282-3.6775-8.8859-.3946-.39467-.6163-.92991-.6163-1.48801s.2217-1.09335.6163-1.48798c.3947-.39464.9299-.61634 1.488-.61634s1.0934.2217 1.488.61634c1.5588 1.5571 2.7955 3.40619 3.6392 5.44159.8437 2.0353 1.278 4.217 1.278 6.4203 0 2.2033-.4343 4.385-1.278 6.4204-.8437 2.0353-2.0804 3.8844-3.6392 5.4415-.1958.1943-.4281.3479-.6834.4522-.2554.1043-.5288.1572-.8046.1556zM14.8176 31.5451c-.2759.0016-.5493-.0513-.8046-.1556-.2553-.1043-.4876-.2579-.6834-.4522-1.5589-1.5571-2.7955-3.4062-3.63923-5.4415-.84374-2.0354-1.27802-4.2171-1.27802-6.4204 0-2.2033.43428-4.385 1.27802-6.4203.84373-2.0354 2.08033-3.88449 3.63923-5.44159.3946-.39464.9299-.61634 1.488-.61634s1.0933.2217 1.4879.61634c.3947.39463.6164.92988.6164 1.48798s-.2217 1.09334-.6164 1.48801c-2.3547 2.3577-3.6774 5.5537-3.6774 8.8859 0 3.3323 1.3227 6.5283 3.6774 8.886.1965.1948.3524.4266.4588.682.1064.2554.1612.5293.1612.806 0 .2766-.0548.5506-.1612.8059-.1064.2554-.2623.4872-.4588.682-.1958.1943-.428.3479-.6834.4522-.2553.1043-.5287.1572-.8045.1556z"
              />
              <path
                fill="#2478F4"
                d="M41.4927 37.4764c-.2759.0016-.5493-.0513-.8046-.1556-.2553-.1043-.4876-.258-.6834-.4522-.1964-.1948-.3524-.4266-.4588-.682-.1064-.2554-.1611-.5293-.1611-.806 0-.2767.0547-.5506.1611-.806.1064-.2553.2624-.4871.4588-.682 3.9289-3.9301 6.136-9.2597 6.136-14.8169 0-5.5571-2.2071-10.8868-6.136-14.8169-.1954-.1954-.3504-.42738-.4562-.68269-.1057-.25531-.1602-.52894-.1602-.80529 0-.27634.0545-.54998.1602-.80528.1058-.25531.2608-.48729.4562-.6827.1954-.1954.4274-.350402.6827-.456154.2553-.105752.5289-.160182.8053-.160182.2763 0 .5499.05443.8052.160182.2554.105752.4873.260754.6827.456154 2.3446 2.33643 4.2049 5.11269 5.4742 8.16959 1.2693 3.05687 1.9227 6.33427 1.9227 9.64427 0 3.3099-.6534 6.5873-1.9227 9.6442-1.2693 3.0569-3.1296 5.8332-5.4742 8.1696-.4022.377-.9368.5803-1.4879.5659zM8.88483 37.4763c-.27581.0016-.54923-.0513-.80457-.1556-.25534-.1043-.48758-.2579-.68341-.4522-2.34455-2.3364-4.20482-5.1127-5.47414-8.1696C.653393 25.642 0 22.3646 0 19.0547c0-3.31.653393-6.5874 1.92271-9.64426 1.26932-3.0569 3.12959-5.83316 5.47414-8.16959.39464-.394633.92988-.616338 1.48798-.616338s1.09335.221705 1.48797.616338c.3946.39464.6164.92988.6164 1.48798s-.2218 1.09335-.6164 1.48798C6.4439 8.14691 4.23675 13.4766 4.23675 19.0337c0 5.5572 2.20715 10.8868 6.13605 14.8169.1964.1949.3524.4267.4588.6821.1063.2553.1611.5293.1611.8059 0 .2767-.0548.5506-.1611.806-.1064.2554-.2624.4872-.4588.682-.1923.2018-.42301.3632-.67851.4748-.2555.1116-.53069.171-.80946.1749zM25.1893 58.8945c-.5559 0-1.0889-.2208-1.482-.6138-.393-.393-.6138-.9261-.6138-1.4819V25.3626c0-.5558.2208-1.0889.6138-1.4819.3931-.3931.9261-.6139 1.482-.6139.5558 0 1.0888.2208 1.4819.6139.393.393.6138.9261.6138 1.4819v31.4362c0 .5558-.2208 1.0889-.6138 1.4819-.3931.393-.9261.6138-1.4819.6138z"
              />
              <path
                fill="#2478F4"
                d="M48.2431 21.4019h-8.383c-.5558 0-1.0888-.2208-1.4819-.6138-.393-.393-.6138-.9261-.6138-1.4819s.2208-1.0889.6138-1.4819c.3931-.3931.9261-.6139 1.4819-.6139h8.383c.5559 0 1.0889.2208 1.4819.6139.3931.393.6139.9261.6139 1.4819s-.2208 1.0889-.6139 1.4819c-.393.393-.926.6138-1.4819.6138zM10.5205 21.4019H2.13749c-.55582 0-1.08888-.2208-1.481912-.6138-.393028-.393-.61383-.9261-.61383-1.4819s.220802-1.0889.61383-1.4819c.393032-.3931.926092-.6139 1.481912-.6139h8.38301c.5558 0 1.0889.2208 1.4819.6139.393.393.6138.9261.6138 1.4819s-.2208 1.0889-.6138 1.4819-.9261.6138-1.4819.6138z"
              />
            </svg>
            {{LangValue('platform-prop1-3')}}
          </div>
        </div>
        <div class="col-12 col-md">
          <div class="p-platform__advantage__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 48 49"
            >
              <defs />
              <path
                fill="#2478F4"
                d="M32.1311 22.2798l8.5356-8.5356 3.2324 3.2324c.7576.7576 2.1213.303 2.2223-.7576l1.8688-13.7378c.101-.85861-.6061-1.616214-1.4647-1.46469L32.7372 2.83474c-1.0607.15152-1.5152 1.4647-.7576 2.2223l3.2324 3.23242-8.5356 8.53564c-.4546.4545-.4546 1.1111 0 1.5657l3.889 3.889c.4545.404 1.1616.404 1.5657 0zM14.3025 11.9766l-3.2829 3.283c-.3536.3535-.3536 1.0101 0 1.3636L32.3333 37.937c.3536.3536 1.0102.3536 1.3637 0l3.283-3.2829c.3535-.3536.3535-1.0101 0-1.3637L15.6662 11.9766c-.3536-.404-.9597-.404-1.3637 0zM1.52427 48.9474l13.73783-1.8687c1.0606-.1515 1.5152-1.4647.7576-2.2223l-3.2325-3.2324 8.5357-8.5356c.4545-.4546.4545-1.1112 0-1.5657l-3.889-3.8891c-.4546-.4545-1.1112-.4545-1.5657 0l-8.53567 8.5357-3.23242-3.2325c-.7576-.7576-2.12128-.303-2.22229.7576L.00907347 47.4322C-.0919398 48.2909.665659 49.0485 1.52427 48.9474z"
              />
            </svg>
            {{LangValue('platform-prop1-4')}}
          </div>
        </div>
        <div class="col-12 col-md">
          <div class="p-platform__advantage__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 40 55"
            >
              <defs />
              <path
                fill="#2478F4"
                d="M37.1429 5.71429h-8.5715V2.85714C28.5714 1.27714 27.2943 0 25.7143 0H14.2857c-1.58 0-2.8571 1.27714-2.8571 2.85714v2.85715H2.85714C1.27714 5.71429 0 6.99143 0 8.57143V51.4286c0 1.58 1.27714 2.8571 2.85714 2.8571H37.1429c1.58 0 2.8571-1.2771 2.8571-2.8571V8.57143c0-1.58-1.2771-2.85714-2.8571-2.85714zm-20 0h5.7142v5.71431h-5.7142V5.71429zM34.2857 48.5714H5.71429V11.4286h5.71431v2.8571c0 1.58 1.2771 2.8572 2.8571 2.8572h11.4286c1.58 0 2.8571-1.2772 2.8571-2.8572v-2.8571h5.7143v37.1428z"
              />
              <path
                fill="#2478F4"
                d="M23.6953 26.5515l-5.5714 5.5714-1.4314-2.1486c-.8772-1.3114-2.6458-1.6685-3.9629-.7914-1.3143.8772-1.6686 2.6486-.7914 3.9629l3.3657 5.0485c1.0057 1.5058 3.1286 1.7058 4.3971.4343l8.0372-8.0371c1.1171-1.1172 1.1171-2.9229 0-4.04-1.1172-1.1172-2.9257-1.1172-4.0429 0z"
              />
            </svg>
            {{LangValue('platform-prop1-5')}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-platform__properties">
    <div class="c-page-title text-center">
      <div class="container">
        <h1> {{LangValue('platform-t3')}} </h1>
      </div>
    </div>
    <div class="container">
      <div class="p-platform__properties__container">
        <div class="row">

         {% for i in 1..8 %}
          <div class="col-6 col-md-3 {{  i > 2 ? 'mt-2 md-mt-0' : '' }}">
            <div class="p-platform__properties__item p-2">
              <h4>{{LangValue('platform-prop2-'~i)}}</h4>
            </div>
          </div>
        {% endfor %}

        
        </div>
      </div>
    </div>
  </div>

  <div class="p-platform__properties">
    <div class="c-page-title text-center">
      <div class="container">
        <h1>{{LangValue('platform-t4')}}</h1>
      </div>
    </div>
    <div class="container">
      <div class="p-platform__properties__container">
        <div class="row">


        {% for i in 1..6 %}
          <div class="col-6 col-md-2 {{  i > 2 ? 'mt-2 md-mt-0' : '' }}">
            <div class="p-platform__properties__item justify-content-start">
              <small>{{LangValue('platform-prop3-'~i)}}</small>
              <h6>{{LangValue('platform-prop3-'~i~'-d')}}</h6>
            </div>
          </div>
        {% endfor %}



        </div>
      </div>
    </div>
  </div>
</div>
{% include '../components/footer.twig' %} {% endblock %}
